@import '../../../styles/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    h1{
        display: flex;
        justify-content: center;
    }
    :global {
        .slick-slider {
            .slick-prev:before {
                content: url(../../../assets/images/TopCompanies/prev.svg);
            }

            .slick-next:before {
                content: url(../../../assets/images/TopCompanies/next.svg);
            }
        }
    }

    .top {
        width: 100%;
        display: flex !important;
        flex-direction: row;
        padding: 80px 64px;
    }
}


@media (max-width: 800px) {
    .wrapper {
        :global {
            .slick-slider {
                .slick-prev {
                    left: 20px;
                }
                .slick-next {
                    right: 25px;
                }
    
            }
        }
    
    }}

