.wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 8px;

        div{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 8px;
        }
        button {
            width: 111px;
            background: rgba(0, 0, 0, 0);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 4px 10px;
            gap: 8px;
            border-radius: 8px;
            font-weight: 600;
            font-size: 13px;
            line-height: 22px;
        }

        .facebook {
            border: 1px solid #1877F2;
            color: #1877F2;
        }

        .inst {
            border: 1px solid #E02D69;
            color: #E02D69;
        }

        .in {
            border: 1px solid #007EBB;
            color: #007EBB;
        }

        .twitter {
            border: 1px solid #00AAEC;
            color: #00AAEC;
        }

    }
}

@media (max-width:500px) {
    .wrap{
        align-items: flex-start;
        div{
            flex-direction: column;
        }
    }
}