.wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .benefits {
        display: flex;
        flex-direction: row;

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            width: 247px;
            height: 26px;

            h1 {
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                color: #212B36;
            }
        }
    }
}


@media (max-width: 576px) {
    .wrap {
        div {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        .benefits {
            flex-direction: column;
            gap: 24px;
        }
    }
}