


.wrapper_content{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    section{
        width: 30%;
    }
}
.left{
    p{
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .icons{
        display: flex;
        margin-bottom: 40px;
    }
}


.middle{
        padding-top: 57px;
div{
    display: flex;
        gap: 15px;
        margin-bottom: 10px;
}
}

.right{
        padding-top: 57px;
        display: flex;
        input{
            width: 310px;
                height: 48px;
                background: rgba(145, 158, 171, 0.08);
                border-radius: 8px;
                padding: 4px 10px;
        }
        button{
            padding: 4px 10px;
                gap: 8px;
                width: 48px;
                height: 48px;
                background: #FA541C;
                border-radius: 8px;
        }
}

.bot{
display: flex;
justify-content: space-between;
padding-bottom: 30px;
div{
    display: flex;
    gap: 20px;
}
}
@media screen and (max-width: 700px) {
    .wrapper_content{
        flex-direction: column;
        section{
            width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
        }
        .left{
            p{
                width: 80%;
            }
                        .icons {
                            margin-bottom: 10px;
                        }
        }
        .middle{
            padding-top: 0;
        }
        .right{
            flex-direction: row;
            justify-content: center;
            margin: 20px 0;
            padding-top: 0;
        }
    }
    .bot{
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                gap: 12px;
                padding-bottom: 30px;     
    }
    
}