.wrapper{
  padding: 169px 0;
}

.content{
  display: flex;
    background: rgba(250, 84, 28, 0.08);
    border-radius: 24px;
    padding: 120px 80px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    .info{
      width: 50%;
      margin-bottom: 50px;
      h1{
        font-style: normal;
          font-weight: 700;
          font-size: 42px;
          line-height:  50px;
          color: #212B36;
          margin-bottom: 24px;
      }
      p{
        font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: #212B36;
      }
    }
}

.btns{
      display: flex;
        gap: 30px;
  p{
    font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
  }
  h1{
    font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
  }
  button{
   width: fit-content;
      padding-left: 20px;
      padding-right: 12px;
      gap: 8px;
      background: linear-gradient(180deg, #161C24 0%, #000000 100%);
      border: 1px solid rgba(0, 0, 0, 0.24);
      border-radius: 8px;
      position: relative;
     div{
      padding-left: 35px;
     }
      img{
        position: absolute;
            top: 17px;
              left: 10px;
      }
  }
}

.content_img{
  width: fit-content;
  position: absolute;
  right: -90px;
  top: -50px;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .content{
        padding-bottom: 687px;
        align-items: center;
        .info{
          width: 90%;
            margin-bottom: 50px;
            text-align: center;
        }
  }
  .content_img{
      position: absolute;
        right: 0%;
        top: 45%;
  }
}

@media screen and (max-width: 700px) {
    .content {
        padding-bottom: 375px;
        padding-top: 36px;
      }
  .content_img{
        right: 20%;
        top: 58%;
   img{
    width: 300px;
   }
  }
  .btns{
    flex-direction: column;
  }
}
@media screen and (max-width: 510px) {

  .content_img{
    right: 10%;
  }
}