.wrapper {
  display: flex;
  flex-direction: row;
  padding: 70px 0;


  .main__img {
    width: 438px;
    height: 665.44px;

    @media only screen and (max-width: 1300px) {
      background: rgba(250, 84, 28, 0.08);
      border-radius: 24px;
      justify-content: center;
    }

    .components {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 100px 0px;
      background: rgba(250, 84, 28, 0.08);
      border-radius: 24px;
      padding: 0 90px;

      @media only screen and (max-width:1300px) {
        display: flex;
        flex-direction: column;
        padding: 40px 0 0 0;
        background: none;
      }

      .main__img {
        height: 665.44px;

        @media only screen and (max-width:1300px) {
          height: 448px;
        }

      }


      .main__img {
        width: 438px;
        height: 665.44px;

        @media only screen and (max-width: 1300px) {
          background: rgba(250, 84, 28, 0.08);
          border-radius: 24px;
          justify-content: center;
        }

        flex-direction: column;
        padding: 40px 0 0 0;
        background: none;
      }

      .main__img {
        height: 665.44px;

        @media only screen and (max-width: 1300px) {
          height: 448px;

          @media only screen and (max-width:1300px) {
            background: rgba(250, 84, 28, 0.07);
            border-radius: 24px;
            justify-content: center;
          }

          .components {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 50px 0px;
            background: rgba(250, 84, 28, 0.08);
            border-radius: 24px;
            padding: 0 90px;
            height: 498px;
            width: 1152px;

            @media only screen and (max-width:1300px) {
              display: flex;
              flex-direction: column;
              background: none;
              margin: 0;
              height: 638px;
              width: auto;
            }

            .main__img {
              height: 665.44px;
              position: absolute;
              right: 152px;
              top: 4640px;

              @media only screen and (max-width:1300px) {
                height: 448px;
                position: inherit;
              }
            }

            .left {
              display: flex;
              gap: 40px;
              flex-direction: column;

              @media only screen and (max-width:1300px) {
                margin-bottom: 50px;
              }

              .info {
                width: 370px;
                gap: 30px;
                display: flex;
                flex-direction: column;

                @media only screen and (max-width:1300px) {
                  width: 335px;
                  text-align: center;
                  align-items: center;
                }
              }

              .title {
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 64px;
              }

              .text {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
              }

              .two__btns {
                display: flex;
                align-items: center;
                gap: 20px;

                button {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  padding: 0px 11px;
                  gap: 8px;
                  width: 162px;
                  height: 56px;
                  background: linear-gradient(180deg, #161C24 0%, #000000 100%);
                  border: 1px solid rgba(0, 0, 0, 0.24);
                  border-radius: 8px;

                  p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    opacity: 0.72;
                    color: #ffff;
                  }

                  h1 {
                    font-family: 'Barlow';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 28px;
                    color: #ffff;
                  }
                }

                display: flex;
                flex-direction: row;

                .main__img {
                  width: 438px;
                  height: 665.44px;

                  @media only screen and (max-width: 1300px) {
                    background: rgba(250, 84, 28, 0.08);
                    border-radius: 24px;
                    justify-content: center;
                  }

                  .components {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin: 100px 0px;
                    background: rgba(250, 84, 28, 0.08);
                    border-radius: 24px;
                    padding: 0 90px;

                    @media only screen and (max-width: 1300px) {
                      display: flex;
                      flex-direction: column;
                      padding: 40px 0 0 0;
                      background: none;
                    }

                    .main__img {
                      height: 665.44px;

                      @media only screen and (max-width: 1300px) {
                        height: 448px;
                      }
                    }

                    .left {
                      display: flex;

                      gap: 30px;
                      flex-direction: column;
                      gap: 40px;
                      flex-direction: column;

                      @media only screen and (max-width: 1300px) {
                        margin-bottom: 50px;
                      }

                      .info {
                        width: 370px;
                        gap: 30px;
                        display: flex;
                        flex-direction: column;

                        @media only screen and (max-width: 1300px) {
                          width: 335px;
                          text-align: center;
                          align-items: center;
                        }
                      }

                      .title {
                        font-family: "Barlow";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 64px;
                      }

                      .text {
                        font-family: "Poppins";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 28px;
                      }

                      .two__btns {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        button {
                          display: flex;
                          flex-direction: row;
                          justify-content: center;
                          align-items: center;
                          padding: 0px 12px;
                          gap: 8px;
                          width: 162px;
                          height: 56px;
                          background: linear-gradient(180deg, #161c24 0%, #000000 100%);
                          border: 1px solid rgba(0, 0, 0, 0.24);
                          border-radius: 8px;

                          p {
                            font-family: "Poppins";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 20px;
                            opacity: 0.72;
                            color: #ffff;
                          }

                          h1 {
                            font-family: "Barlow";
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 28px;
                            color: #ffff;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}