@import "../src/styles/variables.scss";

.title1 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: $main-black-light02;
}
.title2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: $orange;
}

button{
  border: none;
}


