@import "../src/styles/variables.scss";

.title1 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: $main-black-light02;
}
.title2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: $orange;
}

.dark{
  background-color: $main-black-light02!important;
  transition: all 500ms;
}
.card {
  background: $main-black-light01!important;
}

.dark_text {
  color: $white!important;
}
.dark_btn{
  filter: invert(1);
}
.dark_inp {
  background-color: #212B36!important;
}

.dark_text_ul li span {
  color: $white!important;
}

.datenum {
  background-color: $main-black-light01;
}

.grey_text {
  color: #c6c8c9 !important;
}

.card_active {
  background-color: red;
}